<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'todos/playstyles.css' %}">
    <meta charset="utf-8">
    <title></title>
  </head>


  <body>
    <div class="sack">

      <input class="in1" type="text" name="" value=""placeholder="input here">
      <button type="submit" name="btn2">SHOW!</button>
      <button type="submit" name="button">PUSH ME!</button>
      <divj class="console">
      




















    </div>
    {% load static %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js">  </script>
    <script type="text/javascript" src="{% static 'todos/playjs2.js' %}"></script>
  </body>
</html>
