{% extends 'portofolio/base.html' %}
{% block title %}N.S_Portofolio{% endblock %}
{% block content %}
    <h1 class="text-center"> Better everyday! </h1>
    <center>
      <p class="text-left" style="width: 40rem;">
        A simple motto to live by! After all, progress is made one step at a time.
        Simplify break down revise, take another step and learn at every oppurtunity
        you get, your pain today will be your strength tomorow. Do your best and all the
        good you can! In the end we are what we repeatedly do. Go to bed with dreams
        and wake up with purpose. Take your chances, look alive, oppurtunities do not happen,
        you create them, a one thing at a time... Be aware of yourself attitudes are
        contagious; make yours worth catching. Have courage and be kind. Greatness
        is measured by courage and heart. Everything covetable lies on the other
        side of fear. Be better everyday and tend to that ideal of perfection...
      </p>

    <br>
    {% load static %}
    <img class="img" src="{% static 'portofolio/images/front.jpg' %}" width="40%" height="40%">
    <br>

    <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            {% for project in projects %}

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <a class="navbar-brand" href="{% url 'home' %}">
                <section>
                  <h4>{{ project.title }}</h4>
                </section>
                <img src="{{ project.image.url }}" alt="" width="100%" height="100%">
                </a>
                <div class="card-body">
                  <p class="card-text">{{ project.description }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>

              {% endfor %}
          </div>

        </div>
    </div>
    </center>
{% endblock %}
